.cart-button {
  width: 230px;
  height: 56px;
  border-radius: 90px;
  padding: 14px 24px 14px 32px;
  background-color: $orange;
  color: $white;
  font-family: inherit;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}