.header-upper-block {
  height: 64px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 120px;
    height: 40px;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 578px;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    gap: 24px;
    align-items: center;

    &__cart-icon {
      width: 13px;
      height: 18px;
      background-image: url("/images/icons/seed.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: rotate(15);
      z-index: 1;

      &--with-items {
        width: 13px;
        height: 18px;
        background-image: url('/images/icons/seed.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: rotate(15);
        position: relative;

        &::after {
          content: '';
          position: relative;
          width: 16px;
          height: 16px;
          background-color: $orange;
          border-radius: 50%;
          display: inline-block;
          top: -20px;
          left: 5px;
        }
      }
      
      &__item-count {
        font-size: 10px;
        font-weight: bold;
        color:$white;
        position: relative;
        top: -6px;
        left: 10px;
        z-index: 2;
      }
    }

    &__cart {
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
    }

    &__cart-button {
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 5px;
        background-image: url("/images/icons/arrow.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-left: 11px;
      }

      &.rotate {
        &:after {
          content: '';
          display: inline-block;
          width: 10px;
          height: 5px;
          background-image: url("/images/icons/arrow.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin-left: 11px;
          transform: rotate(180deg);
        }
      }
    }
  }


}